@font-face {
    font-family: Poppins;
    src: url(../Fonts/Poppins/Poppins-Medium.ttf);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #212529;
    color: white;
}

.bg-custom {
    background-color: #343a40;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url(../Images/hero.jpg);
    background-size: cover;
    background-position: center;
}